@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');
@import url('https://unicons.iconscout.com/release/v2.1.9/css/unicons.css');

.App {
    text-align: center;
}

.App-logo {
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 10s linear;
    }
}

.App-header {
    min-height: 50vh;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

.App-header p {
    margin-top: 80px;
    color: white;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.form-choose-label {
  margin-right: 10px;
}

.form-group {
    margin-bottom: 20px;
}

.main-content {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat-back.svg');
    background-position: center;
    background-repeat: repeat;
    background-color: #1f2029;
    color: #c4c3ca;
    background-size: 7%;
    overflow-x: hidden;
    transition: all 200ms linear;
    height: 100vh;
}

.bg-black {
    background-color: #000;
}

#logo {
    width: 30px;
    height: 30px;
    border-radius: 4px;
}

.navbar-brand {
    padding: 14px 20px;
    font-size: 16px;
}

.navbar-nav {
    width: 100%;
}

.nav-item {
    padding: 6px 14px;
    text-align: center;
}

.navbar-dark .navbar-nav .nav-link {
    padding-bottom: 10px;
}


.navbar-dark .navbar-nav .nav-link.active {
    color: #ffeba7
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #ffeba7
}

.sliding-u-l-r-l {
    display: inline-block;
    position: relative;
    padding-bottom: 14px;
}
.sliding-u-l-r-l:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 0;
    transition: width 0s ease, background .5s ease;
}
.sliding-u-l-r-l:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 4px;
    width: 0;
    background: #ffeba7;
    transition: width .5s ease;
}
.sliding-u-l-r-l:hover:before {
    width: 100%;
    background: #ffeba7;
    transition: width .5s ease;
}
.sliding-u-l-r-l:hover:after {
    width: 100%;
    background: transparent;
    transition: all 0s ease;
}

.v-line {
    background-color: gray;
    width: 1px;
    height: 20px;
}

.navbar-collapse.collapse.in {
    display: block !important;
}

@media (max-width: 576px) {
    .nav-item {
        width: 100%;
        text-align: left;
    }

    .v-line {
        display: none;
    }
}

.section a {
    cursor: pointer;
    transition: all 200ms linear;
}
.section a:hover {
    text-decoration: none;
}
.section p {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
}
.section h4 {
    font-weight: 600;
}
.section h6 span{
    padding: 0 20px;
    text-transform: uppercase;
    font-weight: 700;
}
.section{
    position: relative;
    width: 100%;
    display: block;
}
.full-height{
    min-height: 100vh;
}
[type="checkbox"]:checked,
[type="checkbox"]:not(:checked){
    position: absolute;
    left: -9999px;
}
.checkbox:checked + label,
.checkbox:not(:checked) + label{
    position: relative;
    display: block;
    text-align: center;
    width: 60px;
    height: 16px;
    border-radius: 8px;
    padding: 0;
    margin: 10px auto;
    cursor: pointer;
    background-color: #ffeba7;
}
.checkbox:checked + label:before,
.checkbox:not(:checked) + label:before{
    position: absolute;
    display: block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    color: #ffeba7;
    background-color: #102770;
    font-family: 'unicons';
    content: '\eb4f';
    z-index: 20;
    top: -10px;
    left: -10px;
    line-height: 36px;
    text-align: center;
    font-size: 24px;
    transition: all 0.5s ease;
}
.checkbox:checked + label:before {
    transform: translateX(44px) rotate(-270deg);
}


.card-3d-wrap {
    position: relative;
    width: 520px;
    max-width: 100%;
    height: 600px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    perspective: 800px;
    margin-top: 60px;
}
.card-3d-wrapper {
    width: 100%;
    height: 100%;
    position:absolute;
    top: 0;
    left: 0;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: all 600ms ease-out;
}
.card-front, .card-back {
    width: 100%;
    height: 100%;
    background-color: #2a2b38;
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 300%;
    position: absolute;
    border-radius: 6px;
    left: 0;
    top: 0;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}
.card-back {
    transform: rotateY(180deg);
}
.checkbox:checked ~ .card-3d-wrap .card-3d-wrapper {
    transform: rotateY(180deg);
}
.center-wrap{
    position: absolute;
    width: 100%;
    padding: 0 35px;
    top: 50%;
    left: 0;
    transform: translate3d(0, -50%, 35px) perspective(100px);
    z-index: 20;
    display: block;
}


.form-group{
    position: relative;
    display: block;
    padding: 0;
    margin-bottom: 25px;
}
.form-style {
    padding: 13px 20px;
    padding-left: 55px;
    height: 48px;
    width: 100%;
    font-weight: 500;
    border-radius: 4px;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.5px;
    outline: none;
    color: #c4c3ca;
    background-color: #1f2029;
    border: none;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
    box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
}
.form-style:focus,
.form-style:active {
    border: none;
    outline: none;
    box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
}
.input-icon {
    position: absolute;
    top: 0;
    left: 18px;
    height: 48px;
    font-size: 24px;
    line-height: 48px;
    text-align: left;
    color: #ffeba7;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.form-group input:-ms-input-placeholder  {
    color: #c4c3ca;
    opacity: 0.7;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input::-moz-placeholder  {
    color: #c4c3ca;
    opacity: 0.7;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input:-moz-placeholder  {
    color: #c4c3ca;
    opacity: 0.7;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input::-webkit-input-placeholder  {
    color: #c4c3ca;
    opacity: 0.7;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input:focus:-ms-input-placeholder  {
    opacity: 0;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input:focus::-moz-placeholder  {
    opacity: 0;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input:focus:-moz-placeholder  {
    opacity: 0;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input:focus::-webkit-input-placeholder  {
    opacity: 0;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.form-btn{
    border-radius: 4px;
    height: 44px;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    -webkit-transition : all 200ms linear;
    transition: all 200ms linear;
    padding: 0 30px;
    letter-spacing: 1px;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    text-align: center;
    border: none;
    background-color: #ffeba7;
    color: #102770;
    box-shadow: 0 8px 24px 0 rgba(255,235,167,.2);
}
.form-btn:active,
.form-btn:focus{
    background-color: #102770;
    color: #ffeba7;
    box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
}
.form-btn:hover{
    background-color: #102770;
    color: #ffeba7;
    box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
}

.navbar_logo_name {
    color: #ffeba7;
    font-weight: bold;
    font-style: italic;
    font-size: 22px;
    text-decoration: none;
    margin-left: 20px;
}

.navbar_logo_name:hover {
    color: #ffeba7;
}

.test {
    background-color: white;
    height: 100%;
    width: 100%;
    left: 0;
    top: 60px;
    position: absolute;
    color: #fff;
    font-size: 100%;
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
}

.test .error{
    height: 50%;
    width: 50%;
}

.reload-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.reload-container .reload-btn span {
    position: relative;
    z-index: 100;
}

.reload-container .reload-btn {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    border: 2px solid #ffeba7;
    margin: 40px;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 2px;
    color: #fff;
    background-color: #1f2029;
    -webkit-box-reflect: below 0px linear-gradient(transparent, #0002);
    transition: 0.1s;
    transition-delay: 0s;
    font-family: "Poppins", sans-serif;
}

.reload-container .reload-btn:hover {
    transition-delay: 0.5s;
    color: #1f2029;
    box-shadow: 0 0 10px #ffeba7,
                0 0 20px #ffeba7,
                0 0 40px #ffeba7,
                0 0 80px #ffeba7,
                0 0 160px #ffeba7;
            }

.reload-container .reload-btn::before {
    content: '';
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 2px;
    background: #ffeba7;
    box-shadow: 5px -8px 0 #ffeba7,
                5px 8px 0 #ffeba7;
    transition: width 0.2s, left 0.2s, height 0.2s,
    box-shadow 0.2s;
    transition-delay: 0.2s, 0.1s, 0s, 0s;
}

.reload-container .reload-btn:hover::before {
    width: 60%;
    height: 100%;
    left: -2px;
    box-shadow: 5px 0 0 #ffeba7,
    5px 0 0 #ffeba7;
    transition-delay: 0s, 0.1s, 0.2s, 0.2s;
}

.reload-container .reload-btn::after {
    content: '';
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 2px;
    background: #ffeba7;
    box-shadow: -5px -8px 0 #ffeba7,
    -5px 8px 0 #ffeba7;
    transition: width 0.2s, left 0.2s, height 0.2s,
    box-shadow 0.2s;
    transition-delay: 0.2s, 0.1s, 0s, 0s;
}

.reload-container .reload-btn:hover::after {
    width: 60%;
    height: 100%;
    right: -2px;
    box-shadow: -5px 0 0 #ffeba7,
    -5px 0 0 #ffeba7;
    transition-delay: 0s, 0.1s, 0.2s, 0.2s;
}